<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browserType" value="chrome"></parameter>
  <parameter name="url" value="https://www.saucedemo.com/"></parameter>
    <classes>
      <class name="tests.LoginPageTest"/>
      <class name="tests.AddItemToCartTest"/>
      <class name="tests.CheckoutPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
